@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-center">Findev Programming Challenges</h2>
</div>

<div class="row">
    Welcome to the home page for the Findev Programming Challenges!
</div>